{{define "Index"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <h1>Alura store</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>T-Shirt</td>
                <td>Pretty beautiful</td>
                <td>29</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Laptop</td>
                <td>Very fast</td>
                <td>1999</td>
                <td>2</td>
            </tr>
        </tbody>
    </table>
</body>
</html>

{{end}}